<div class="container my-4 py-2">
  <% @magic_items.each do |item| %>
    <div class="card">
      <h2><%= item.name %></h2>
      <h3> <%= item.item_type %></h3>
      <h6> <%= item.rarity.capitalize %></h6>
      <p> <%= item.description.truncate(300) %> <p>
      <h6><%= item.attunement.capitalize %></h6>
      <br>
      <%= link_to "More..", magic_item_path(item), class: "button" %>
    </div>
  <% end %>

</div>


