<div class="container">
 <form>
  <div class="form-group my-4">
    <%= simple_form_for(@magic_item) do |f| %>
      <%= f.input :name %>
      <%= f.input :item_type %>
      <%= f.input :rarity %>
      <%= f.input :description, :as => :text %>
      <%= f.input :attunement, :placeholder => "Requires attunement" %>
      <%= f.submit %>
    <% end %>
  </div>
 </form>
 <%= link_to "Back", magic_items_path %>
</div>
