<!DOCTYPE html>
<html>
  <head>
    <title>RailsDndMagicItems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Merls Magic Items", magic_items_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Add Homebrew", new_magic_item_path, class: "nav-item nav-link" %>
        </div>
       <%= form_tag(search_path, :method => "get") do %>
       <div class="input-group">
         <%= search_field_tag :search, params[:search], placeholder: 'Search for item name', class: "form-control" %>
         <div class="input-group-btn">
           <%= button_tag "Search", :class => "btn btn-info glyphicon glyphicon-search", :name => nil%>
         </div>
       </div>
       <% end %>
      </div>
    </nav>
    <%= yield %>
    <div class="footer">
      <div class= "container">
        <footer>
            <p>Author: Laura Brooks</p>
            <p>Built using the Open5e API</p>
        </footer>
      </div>
    </div>
  </body>
</html>
